<div id="overlay-screen">
   <div class="col-md-6 col-md-offset-3 panel-startgame">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Welcome to Guess Game!</h3>
         </div>
         <div class="panel-body panel-body-height">
            <p><b>Rules of Guess game:</b></p>
            <ol class="guess-game-list">
               <li>Your goal is to guess Cities from choosen area.</li>
               <li>You need to search Cities for given area by typing City name in field.</li>
               <li>If you think you have all Cities names choosen, you will need to click button "See My Results" so you could see you score.</li>
               <li>Don't forget that you have 100 seconds to complete the game.</li>
            </ol>
            <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
               <button class="btn btn-success btn-start-game" routerLink="">Start Game</button>
            </div>
         </div>
      </div>
   </div>
</div>